apiVersion: v1
kind: Service
metadata:
  name: {{ include "connectorhub.fullname" . }}
  labels:
    {{- include "connectorhub.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.main.port }}
      targetPort: {{ .Values.service.main.targetPort }}
      protocol: TCP
      name: http
    {{- if .Values.service.test.enabled }}
    - port: {{ .Values.service.test.port }}
      targetPort: {{ .Values.service.test.targetPort }}
      protocol: TCP
      name: test-api
    {{- end }}
  selector:
    {{- include "connectorhub.labels" . | nindent 4 }}
