# Default values for connectorhub.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

global:
  projectEnv: dev

dlt:
  component: connectorhub
  organization: org1
  domain: luther.systems
  cryptoConfigSecret: ""
  cryptoConfigRootPath: "/tmp/fabric/crypto-config"  # Can be "./crypto-config" for relative path
  peerIndex: 0
  kubernetes-namespace: "ui"
  channel: luther
  mspID: Org1MSP
  userID: User1
  chaincodeID: com_luthersystems_chaincode_substrate01
  env:
    # Disable the Test API by default (/v1/ch/connectors/test)
    CH_ENABLE_TEST_API: "false"
    # Disable real connections in test endpoint by default (forces mock mode)
    CH_ENABLE_TEST_REAL_MCP: "false"
    # Disable the Admin API  by default(/v1/ch/config, /v1/ch/connectors/{id}/call)
    CH_ENABLE_ADMIN_API: "false"
  
sdk:
  secretName: connectorhub-config
  # configMapName: connectorhub-config  # Use this instead of secretName to create a ConfigMap
  externalConfigMap: false  # Set to false to let Helm manage the ConfigMap

image:
  repository: luthersystems/connectorhub
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  main:
    port: 80
    targetPort: 8080
  test:
    enabled: false
    port: 81
    targetPort: 8082

ports:
  main: 8080
  test: 8082

persistentVolume:
  create: true
  storageClassName: gp2
  storageSize: 10Gi
  typeOverride: ""

ingress:
  enabled: false
  annotations:
    {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
#
serviceAccount:
  create: true
  annotations: {}
  name: ""
rbac:
  create: true

nodeSelector: {}

tolerations: []

affinity: {}

verbose: false

local: false
